<a href="https://colab.research.google.com/github/imanushkav221/stanfordopenpolicing/blob/main/stanfordopenpolicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Stanford Open Policing Project**
1) Exploring the relationship between gender and policing
2) Analyzing the effect of weather on policing
3) Visual exploratory data analysis to see the effect of time of day.

Examining the data

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/imanushkav221/stanfordopenpolicing/main/ar_little_rock_2020_04_01.csv'
ri = pd.read_csv(url)
ri.head(3)

           raw_row_number        date  ...   vehicle_type  raw_defendant_race
0              8620|12751  2017-01-01  ...          Other           CAUCASIAN
1  5296|10153|13440|14777  2017-01-01  ...  Passenger Car    AFRICAN AMERICAN
2                   16622  2017-01-01  ...  Passenger Car    AFRICAN AMERICAN

[3 rows x 13 columns]

Locating missing values

In [ ]:
ri.isnull()
ri.isnull().sum()

Dropping Columns

In [ ]:
ri.drop('lat',   axis='columns', inplace=True)
ri.drop('lng',   axis='columns', inplace=True)

Examining Data Types

In [ ]:
ri.dtypes

Converting to Date and Time Format

In [ ]:
ri.date.str.replace('/', '-')
combined =  ri.date.str.cat(ri.time, sep=' ')
ri['date_and_time'] = pd.to_datetime(combined)
ri.dtypes

Setting the Index

In [ ]:
ri.set_index('date_and_time', inplace=True)
ri.index

## Do the genders commit different violations?

Counting unique values

In [ ]:
ri.value_counts()
ri.value_counts().sum()

Expressing counts as proportions

In [ ]:
ri.value_counts(normalize=True)

Filtering DataFrame Rows

In [ ]:
female = ri[ri.subject_sex == 'female']
female.shape

(6229, 11)